h1 {
    margin: 0;
}

.header-wrapper {
    margin-bottom: 20px;
}

#mapid { 
    height: 350px; 
    width: 350px;
}

.body-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.search-wrapper {
    padding-right: 25px;
}

.input {
    width: 100%;
}

.search-result {
    background-color: rgb(73, 221, 177);
    margin-top: 20px;
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
}
